.Navbar-container {
  display: flex;
  justify-content: space-between;
  background-color: black;
  color: white;
}

.Navbar-logo {
  margin: 40px;
}

.Navbar-Links ul li {
  list-style: none;
  display: inline;
  margin: 25px;
}

.Navbar-Links {
  margin: 25px;
}